{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<p>
    {% blocktrans %}
    If you are already registered with the email you have entered<br>
    We have sent you an email with a link to reset your password. Please check
    your email and click the link to continue.<br>
    or else <a href="{% url 'registration_register' %}">{% trans "Register Here" %}</a>

    {% endblocktrans %}
</p>
{% endblock %}


{# This is used by django.contrib.auth #}
